.o-typography-body
    h2.o-teaser-collection__heading Please enter a search term
    .o-typography-body
        p Hints and tips:
        ul.o-typography-list.o-typography-list--unordered
            li
                p.o-typography-body
                    | Put a phrase in double quotes to search for an exact match, E.G. 
                    a.o-typography-link(href='#') "Theresa May"
                    |  .
                p
            li
                p.o-typography-body
                    | Combine searches with operators (AND, OR, NOT) between words, E.G. 
                    a.o-typography-link(href='#') Oil AND gas NOT Europe
                    |  .
                p
            li
                p.o-typography-body
                    | Use parentheses to group operators, E.G. 
                    a.o-typography-link(href='#') Elon Musk AND (Tesla OR SpaceX)
                    |  .
                p 
