footer.o-footer.o-footer--theme-dark(data-o-component='o-footer' data-o-footer--no-js='')
  .o-footer__container
    h2.o-footer-visually-hidden Useful links
    .o-footer__row
      nav.o-footer__matrix(role='navigation' aria-label='Useful links')
        .o-footer__matrix-group.o-footer__matrix-group--1
          h3.o-footer__matrix-title(aria-controls='o-footer-section-0')
            | xxxxxxx
          #o-footer-section-0.o-footer__matrix-content
            .o-footer__matrix-column
              a.o-footer__matrix-link(href='//www.ft.com/help')
                span.o-footer__matrix-link__copy xxxx
              a.o-footer__matrix-link(href='//www.ft.com/aboutus')
                span.o-footer__matrix-link__copy xxxxx xx
        .o-footer__matrix-group.o-footer__matrix-group--1
          h3.o-footer__matrix-title(aria-controls='o-footer-section-1')
            | xxxxx x xxxxxxx
          #o-footer-section-1.o-footer__matrix-content
            .o-footer__matrix-column
              a.o-footer__matrix-link(href='//www.ft.com/servicestools/help/terms')
                span.o-footer__matrix-link__copy xxxxx x xxxxxxxxxx
              a.o-footer__matrix-link(href='//www.ft.com/servicestools/help/privacy')
                span.o-footer__matrix-link__copy xxxxxxx
              a.o-footer__matrix-link(href='//www.ft.com/cookiepolicy')
                span.o-footer__matrix-link__copy xxxxxxx
              a.o-footer__matrix-link(href='//www.ft.com/servicestools/help/copyright')
                span.o-footer__matrix-link__copy xxxxxxxxx
        .o-footer__matrix-group.o-footer__matrix-group--1
          h3.o-footer__matrix-title(aria-controls='o-footer-section-2')
            | xxxxxxxx
          #o-footer-section-2.o-footer__matrix-content
            .o-footer__matrix-column
              a.o-footer__matrix-link(href='//sub.ft.com/spa_5')
                span.o-footer__matrix-link__copy xxxxxxxxxx xxxxxxxxxxxxx
              a.o-footer__matrix-link(href='//enterprise.ft.com/en-gb/services/group-subscriptions/')
                span.o-footer__matrix-link__copy xxxxx xxxxxxxxxxxxx
              a.o-footer__matrix-link(href='//enterprise.ft.com/en-gb/services/republishing/')
                span.o-footer__matrix-link__copy xxxxxxxxxxxx
              a.o-footer__matrix-link(href='//www.businessesforsale.com/ft2/notices')
                span.o-footer__matrix-link__copy xxxxxxxxx x xxxxxxx
              a.o-footer__matrix-link(href='//commerce.uk.reuters.com/purchase/mostPopular.do?rpc&#x3D;471')
                span.o-footer__matrix-link__copy xxxxxxxx xxxxxxxx
        .o-footer__matrix-group.o-footer__matrix-group--1
          h3.o-footer__matrix-title(aria-controls='o-footer-section-3')
            | xxxxx
          #o-footer-section-3.o-footer__matrix-content
            .o-footer__matrix-column
              a.o-footer__matrix-link(href='//markets.ft.com/data/portfolio/dashboard')
                span.o-footer__matrix-link__copy xxxxxxxxx
              a.o-footer__matrix-link(href='//ftepaper.ft.com')
                span.o-footer__matrix-link__copy xxxxxxx xxxxx
              a.o-footer__matrix-link(href='//markets.ft.com/data/alerts/')
                span.o-footer__matrix-link__copy xxxxxx xxx
              a.o-footer__matrix-link(href='//lexicon.ft.com/')
                span.o-footer__matrix-link__copy xxxxxxx
              a.o-footer__matrix-link(href='//rankings.ft.com/businessschoolrankings/global-mba-ranking-2016')
                span.o-footer__matrix-link__copy xxx xxxxxxxx
        .o-footer__matrix-group.o-footer__matrix-group--1
          h3.o-footer__matrix-title(aria-controls='o-footer-section-4')
            | xxxxxxx
          #o-footer-section-4.o-footer__matrix-content
            .o-footer__matrix-column
              a.o-footer__matrix-link(href='//markets.ft.com/data/portfolio/dashboard')
                span.o-footer__matrix-link__copy xxxxxxxxx
              a.o-footer__matrix-link(href='//ftepaper.ft.com')
                span.o-footer__matrix-link__copy xxxxxxx xxxxx
              a.o-footer__matrix-link(href='//markets.ft.com/data/alerts/')
                span.o-footer__matrix-link__copy xxxxxx xxx
              a.o-footer__matrix-link(href='//lexicon.ft.com/')
                span.o-footer__matrix-link__copy xxxxxxx
        .o-footer__matrix-group.o-footer__matrix-group--1
          h3.o-footer__matrix-title.o-footer__matrix-title--link
            a#o-footer-section-5.o-footer__matrix-link.o-footer__matrix-link--more(href='https://ft.com/more-from-ft-group')
              span.o-footer__matrix-link__copy More from the FT Group
    .o-footer__copyright
      small
        | Markets data delayed by at least 15 minutes. &copy; THE FINANCIAL
        | TIMES LTD 2021.
        abbr(title='Financial Times' aria-label='F T') FT
        |  and
        |             &lsquo;Financial Times&rsquo; are trademarks of The Financial Times Ltd.
        br
        |             The Financial Times and its journalism are subject to a
        |             self-regulation regime under the
        a(href='http://aboutus.ft.com/en-gb/ft-editorial-code/' aria-label='F T Editorial Code of Practice') FT Editorial Code of Practice
        | .
  .o-footer__brand
    .o-footer__container
      .o-footer__brand-logo
