header.o-header.o-header--simple(data-o-component='o-header' data-o-header--no-js='')
  .o-header__row.o-header__top
    .o-header__container
      .o-header__top-wrapper
        .o-header__top-column.o-header__top-column--center
          // <div class="o-header__top-takeover"></div>
          a.o-header__top-logo(href='/' title='Go to Financial Times homepage')
            span.o-header__visually-hidden Financial Times
        .o-header__top-column.o-header__top-column--right
          // <div class="o-header__top-takeover"></div>
          a.o-header__top-link.o-header__top-link--myft(href='/myft' aria-label='My F T')
            span.o-header__visually-hidden myFT

