.o-grid-row
  div(data-o-grid-colspan='one-third center')
    .o-buttons-pagination
    if pagination.hasPrevious
      a.o-buttons.o-buttons--big.o-buttons--secondary.o-buttons-icon.o-buttons-icon--arrow-left.o-buttons-icon--icon-only(href=`/search?q=${term}&index=${pagination.previousIndex}`)
        span.o-buttons-icon__label Fewer results
    if pagination.hasNext
      a.o-buttons.o-buttons--big.o-buttons--secondary.o-buttons-icon.o-buttons-icon--arrow-right.o-buttons-icon--icon-only(href=`/search?q=${term}&index=${pagination.nextIndex}`)
        span.o-buttons-icon__label More results
