.o-grid-row(data-o-grid-colspan='center 12 S10 M8 L8')
    h2.o-typography-heading-level-2
        | Search
    form(action='/search')
        span.o-forms-input.o-forms-input--text.o-forms-input--suffix.o-spacing-m12
            input(type='text' name='q' value=term ? term: '' required='' placeholder='please enter a search term')
            button.o-buttons.o-buttons--secondary.o-buttons--big Go
    if results
        include results.pug
    else
        include empty.pug
